<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
</head>
<body>
	<font color="red">
    <p  th:text="${invalid}">
    </font>
	
    <h2>Employee Login</h2>
    <font color="red">
    <p  th:text="${mesg}">
    </font>
    <form id="loginForm" action="/employee/login" method="post" th:object=${emp}>
        <label for="eid">id number</label>
        <input type="text" id="eid" name="id" required> if you don't have id then talk to Admin debi prasad<br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="login" ></input>
    </form>
    	    <button onclick="logout()" style="background-color: red;">forget password</button>
    
    <script>
        function logout() {
            window.location.href = '/employee/recoverpassword';
        }
    </script>
</body>
</html>
